<h1>{{title}}</h1>
<div class="favorito-box" *ngIf="favorito">
	<form #formFavorito="ngForm" (ngSubmit)="onSubmit()">
		<label for="title">Titulo:</label>	
		<p>
			<input type="text" name="title" #title="ngModel" [(ngModel)]="favorito.title" required/>
			<span *ngIf="title.touched && title.valid">El título no es correcto</span>
		</p>
		<label for="description">Descripción:</label>	
		<p>
			<textarea name="description" #description="ngModel" [(ngModel)]="favorito.description" required></textarea>
			<span *ngIf="description.touched && description.valid">La descripción no es correcta</span>
		</p>
		<label for="url">URL:</label>	
		<p>
			<input type="url" name="url" #url="ngModel" [(ngModel)]="favorito.url" required />
			<span *ngIf="url.touched && url.valid">La URL no es correcta</span>
		</p>

		<input type="submit" value="{{titleSection}}">
	</form>
</div>