<div class="loading" *ngIf="loading">
	<img id="spinner" src="../../assets/images/pageloader.gif" />
</div>

<ul id="favoritos-list" *ngIf="favoritos">
	<li *ngFor="let favorito of favoritos" class="favorito-item">
	 <div class="content-data">
			<h4>{{favorito.title}}</h4>		
			<p class="url">{{favorito.url}}</p>
			<p class="buttons">
				<a href="{{favorito.url}}" target="_blank" class="btn 
				btn-default">Ir al marcador</a>
				<a [routerLink]="['/marcador', favorito._id]" class="btn btn-ver">Ver</a>
				<a [routerLink]="['/editar-marcador', favorito._id]" class="btn btn-editar">Editar</a>
				<a (click)="onDeleteConfirm(favorito._id)" class="btn btn-eliminar">Eliminar</a>
			</p>
			<div class="seguro" *ngIf="confirmado == favorito._id">
				<p>
					<strong>¿Estás seguro de querer forrar el favorito?</strong>
				</p>
				<a (click)="onDeleteFavorito(favorito._id)" class="btn btn-eliminar">
					Eliminar
				</a>
				<a (click)="onCancelConfirm(favorito._id)" class="btn btn-ver">
					Cancelar
				</a>					
			</div>
		</div>
	</li>
	
</ul>