body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.clearfix{
	float: none;
	clear: both;
	text-decoration: none;
	list-style: none;
}

#content{
	width: 80%;
	height: 500px;
	margin: 0px auto;
	margin-top: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #ddd; 
	background: #eee;
}

header{
	padding: 15px;
	background: #229138;
	color: white;
}

header .title-subtitle{	
	float: left;
	border-bottom: 1px solid white; 
	border-top: 1px solid white;
	padding: 5px;
	padding-left: 75px;
	margin-left: -65px;
}

header p, 
header h1{
	margin: 0px
	margin-left: 15px;
}

header h1 a{
	text-decoration: none;
	color: white;
}

header h1 a:hover{
	text-decoration: underline;
}

header p{
	color: #ddd;
}

header #logo{
	width: 60px;
	display: block;
	float: left;
	margin-top: 30px;
}

footer{
	width: 80%;
	margin: 0px auto;
	margin-top: 20px;
	color: gray
}

.btn{
	font-size: 13px;
	border: 1px solid #ccc;
	border-color: #ddd;
	border-radius: 4px;
	box-shadow: 0px 0px 5px #ddd;
	padding: 5px;
	text-decoration: none;
	color: white;
	background: #0074d9;
	cursor: pointer;
	margin-left: 5px;	
}

.btn-editar{
	background: #0A0;
	border-color: #59a600
}
.btn-eliminar{
	background: #E23237;
	border-color: #5F4747;
}
.btn-default{
	background: #eaa615;
	border-color: #cc941c
	color: gray;
	margin-left: 0px;
}

.btn-add-favorito{
	display: block;
	padding: 10px;
	float: right;
	margin-right: 30px;
	margin-top: 5px;
	background:  #eee;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 5px gray;
	color: #666;
	background: #DDD;
	text-decoration: none;
	transition: all 300ms;
}

.btn-add-favorito:hover{
	color: #444;
	background: white;
}

#favoritos-list{
	padding: 0px;
	margin: 0px;
}

.favorito-item{
	list-style: none;
	border: 1px solid #ddd;
	float: left;
	width: 31%;
	height: 120px;
	padding-top: 10px;
	padding-bottom: 20px;
	color: gray;
	background: white;
	margin: 10px;
}

.favorito-item .content-data{
	float: left;
	margin-left: 20px;
}

.favorito-item h4{
	color: #444;
	margin: 0px;
	padding: 0px;
	margin-top: 5px
}

.favorito-item .url{	
	margin: 0px;
	padding: 0px;
	height: 45px;
	margin-top: 2px;
	overflow: hidden;
}

.favorito-box{
	border: 1px solid #ddd;
	width: 90% 
	min-height: 150px;
	padding-top: 10px;
	padding: 20px;
	margin: 20px;
	background: white;
}

.loading{
	margin:25px;
}

#spinner{
	width: 50px
}

.seguro{
	position: absolute;
	margin-top: -75px;
	margin-left: -18px;
	background: white none repeat scroll 0 0;
	width: 275px;
	text-align: center;
}